//@import "jenkinsBoard";
@import "bootstrap";
@import "bootstrap-responsive";

body {
	background: #000;
	width: 100%;
	height: 100%;
}

h1 {
	color: #fff;
}

ul#list {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
}

li.job {
	position: absolute;
	width: 110px;
	height: 110px;
	padding: 5px;
	font-weight: bold;
	text-shadow: 1px 1px 5px black;
	color: white;

	transition: left 0.5s ease, top 0.5s ease;
	-moz-transition: left 0.5s ease, top 0.5s ease;
	-webkit-transition: left 0.5s ease, top 0.5s ease;
	-o-transition: left 0.5s ease, top 0.5s ease;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-moz-keyframes {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.job.building {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: pulse;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
}